In [219]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [220]:
df = pd.read_csv('car_price.csv')

In [221]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [222]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# Data Cleaning

In [223]:
df= df[df['year'].str.isnumeric()]

In [224]:
df['year'] = df['year'].astype(int)

In [225]:
df = df[df['Price']!='Ask For Price']

In [226]:
df['Price']=df['Price'].str.replace(',','').astype(int)

In [227]:
df['kms_driven']= df['kms_driven'].str.split().str.get(0).str.replace(',','')

In [228]:
df= df[df['kms_driven'].str.isnumeric()]

In [229]:
df['kms_driven']= df['kms_driven'].astype(int)

In [230]:
df.dropna(inplace=True)

In [231]:
df.shape

(816, 6)

In [232]:
df['name']=df['name'].str.split().str.slice(0,3).str.join(' ')

In [233]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [235]:
df.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,816,816,816.000000,8.160000e+02,816.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.444853,4.117176e+05,46275.531863,NaN
std,NaN,NaN,4.002992,4.751844e+05,34297.428044,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.912500e+05,56818.500000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [236]:
df = df[df['Price']<6000000]

In [237]:
df.shape

(815, 6)

In [238]:
x = df.drop(columns='Price')
y = df['Price']

In [239]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
3         Hyundai Grand i10   Hyundai  2014       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014       36000    Diesel
6                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
885          Tata Indica V2      Tata  2009       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009      132000    Petrol
888            Tata Zest XM      Tata  2018       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [240]:
y

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
883    270000
885    110000
886    300000
888    260000
889    390000
Name: Price, Length: 815, dtype: int64

In [241]:
from sklearn.linear_model import LinearRegression

In [242]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

In [243]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [244]:
from sklearn.compose import ColumnTransformer

In [245]:
ct = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(handle_unknown='ignore'), ['name', 'company', 'fuel_type'])
    ],
    remainder='passthrough'
)
lr = LinearRegression()
pipe = make_pipeline(ct, lr)
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)

In [246]:
y_pred

array([ 280864.87588117, 1696028.98440072,  608495.29073092,
        361836.86768162,  276310.54066852,  373911.39984921,
        442263.48254643,  -20269.36393509,  480354.88543285,
        272761.99290645,  641233.87386154,  437059.75684284,
        215039.24317904,   28573.6422348 ,  433074.88301628,
        446652.82684817,  410066.24546339,  216570.46661822,
        -25755.41849102,  339790.98650441,  637474.6359645 ,
       2218582.56494511,  167401.22436672,  175102.03365468,
        291896.84212004,  253173.02462055, -103234.66928467,
       1126849.93489015,  237632.67286532,  343164.25551493,
       1651295.773254  ,  286259.68814382,  197398.30133151,
        256071.3995339 ,  238980.32924472,  473900.41309652,
        357997.79737154,  443118.7380607 ,  536238.22021493,
        289324.46610779,  616095.78185847,  294903.88920697,
       1133392.1311278 ,  743987.37305798,  299262.05049844,
         27985.03110301,  341214.76893695, 2218388.28609107,
        828463.23048283,  -27860.1113984 ,   80405.89551052,
        348039.54947332,  597338.25635322,  643568.32463853,
        275443.69445945,  829477.09166544,  533196.44111709,
         62571.97262528,  200232.52400337, 1095848.83092447,
        347662.85959485,  257552.94231229,  -11384.62770303,
        465532.06387477,  522785.80905653,  336006.12835215,
        401523.57521912,  210663.20278849,  443130.85781149,
        350961.5302211 ,  345090.50029539,  493460.34518708,
        314806.28020031,  438207.01719642,   16791.21408349,
        432406.02045404,  295860.09026226,  191569.93571015,
        723943.55244745,  320424.92651486,  356009.6672751 ,
        418417.9429628 ,  702883.56654013,  362122.39394765,
        346427.11300153,  175102.03365468,  580506.70110182,
        378466.63419815,  234777.97475002,  143708.73776749,
        146779.46779398,  401523.57521912,  230206.21123102,
        347111.4222777 , 2218388.28609107, 1265941.08992005,
        280458.64702228,  280962.50569908,   35191.57554892,
        222628.0592114 ,  274447.20551997,  248882.34607156,
        312889.5789148 ,  296093.22488712,  539208.69549223,
        310366.08532982, -202601.34057466,  275483.81824135,
        503265.04865576,  483015.19564962,  438183.45547855,
        613958.71446397,  687117.70140162,  399976.68576393,
        561389.23996354,  407640.78915545,  459553.364657  ,
        877476.80158881,  280962.50569908,  563710.40134434,
        706852.29303147,  343364.66157977,  138958.37823427,
        446805.31831098,  434820.43667892,  430454.2758053 ,
        635784.2444213 ,  289538.75161108,  394824.07108725,
         -6437.14203224,  359234.69625225,  235707.58012315,
         61479.12744063,   59677.08350523,  988997.40806767,
        327877.66730914,  613871.4753897 ,   56876.43768524,
        302298.32473151,  255690.80483175,  -25727.3404506 ,
        153156.49483503,   79668.51178125,  403270.92608742,
        396280.44600376, 1450000.55361002,  476265.01891521,
        332107.44571209,  215982.44271664,  491209.16326416,
        609445.86719286,  285134.90182592,  421914.96233561,
        192475.56719408,  206650.85838605,  489830.50127448,
        319834.24926953,  466887.27297001,  496042.44029459,
        251602.25002819,  289876.77305643,  415203.97897725,
        445099.36078232])

In [247]:
r2_score(y_test,y_pred)

0.7083621840360038

In [248]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(ct,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [249]:
np.argmax(scores)

302

In [250]:
scores[np.argmax(scores)]

0.8991208253706932

In [217]:
import pickle

In [218]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [257]:
new_data = pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['name','company','year','kms_driven','fuel_type'])
prediction = pipe.predict(new_data)
print(prediction)

[430173.493044]